.lazyImageContainer {
  display: inline-block;
}

.lazyImageSkeleton {
  width: 100%;
  height: 100%;
}

.lazyImageContent {
  width: 100%;
  height: 100%;
}

.lazyImageVisible {
  display: block;
}

.lazyImageHidden {
  display: none;
}

.lazyImageContent :global(.ant-image-img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lazyBackgroundContainer {
  position: relative;
  overflow: hidden;
}
